/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Calculator styles */
.calculator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
}

/* BeautifulScreen styles */
.beautiful-screen {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
}

.beautiful-screen .calculation {
  font-size: 18px;
  color: #333;
}

.beautiful-screen .result {
  font-size: 24px;
  color: #000;
  margin-top: 5px;
}

/* Button styles */
button {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

button.equal-button {
  background-color: #4d9fe3;
  width: 180px; /* Donner plus de largeur au bouton "=" */
}

button:hover {
  background-color: #555;
}

/* NumberButton and OperatorButton styles */
.calculator-content {
  display: flex;
  justify-content: space-between;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligner les boutons numériques à gauche */
  width: 60%; /* Ajuster la largeur de la zone de boutons numériques */
}

.operator-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligner les boutons d'opération à gauche */
  width: 20%; /* Ajuster la largeur de la zone de boutons d'opération */
}

/* Responsive styles */
@media (max-width: 768px) {
  .calculator {
    width: 90%;
  }

  .number-buttons button,
  .operator-buttons button {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}
